.homeContainer {
    margin: 0 auto;
    width: 70%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

img {
    width: 100%;
    /* height: auto; */
}